<html>
    <body>
		<H1>Hello, this is a login page. </H1>
		<a href='/auth/facebook'><img src="https://www.freeiconspng.com/uploads/facebook-login-button-png-11.png" width="350"  alt="fblogin" /></a></a>
		<br> 
		<a href='/auth/github'><img src="https://cloud.githubusercontent.com/assets/194400/11214293/4e309bf2-8d38-11e5-8d46-b347b2bd242e.png" width="350" alt="githublogin" /></a></a>
    </body>
</html>
